.env
*.tmp
*.json
*.js
*.yaml
*.yml
*.txt
!prompt.txt
*.rpy
!vocab.txt
!requirements.txt
*.csv
*.ks
*.cid
*.png
*.script
!screens/*.png
__pycache__
!.pre-commit-config.yaml
vocab.txt
