
.env
*.tmp
*.json
*.js
*.yaml
*.yml
*.txt
*.log
*.rpy
*.csv
*.ks
*.cid
*.png
*.script
__pycache__

!assets/*.png
!.pre-commit-config.yaml
!prompt.txt
!vocab_base.txt
!requirements.txt
!util/tl_inspector/TLInspector.js
