Here are some vocabulary and terms so that you know the proper spelling and translation.

# Game Characters
シルシェ (Silshe) - Female
リノ (Rino) - Female
ボロゲス (Boroges) - Male

# Lewd Terms
マンコ (pussy)
おまんこ (vagina)
尻 (ass)
お尻 (butt)
お股 (crotch)
秘部 (genitals)
チンポ (dick)
チンコ (cock)
ショーツ (panties)
イラマチオ (irrumatio)
理性 (Sanity)
性欲 (Libido)
子宮の状態 (Womb St.)
最後の相手 (Last Partner)
陰茎の長さ (Penis Length)
射精量 (Cum Amount)
絶頂回数 (Orgasms)
搾精回数 (Ejaculations)
経験人数 (Partners)
膣内射精 (Creampie)
膣外射精 (Non-Creampie)
アナル (Anal)
パイズリ (Titjob)
フェラ (Blowjob)
手コキ (Handjob)
太もも (Thighs)
素股 (Thighjob)
尻コキ (Assjob)
ぶっかけ (Cumshot)
受精 (Fertilized)
出産 (Childbirth)
子宮 (Womb)
乳揉まれ (Fondled)
尻揉まれ (Ass Groped)
乳首 (Nipples)
キス (Kiss)
衣装ごとの性行為回数 (Sex Acts per Outfit)
回 (x)
人 (x)

# Honorifics
さん (san)
様, さま (sama)
君, くん (kun)
ちゃん (chan)
たん (tan)
先輩 (senpai)
せんぱい (senpai)
先生 (sensei)
せんせい (sensei)
にいさん (nii-san)
兄さん (nii-san)
兄者 (elder brother)
お兄ちゃん (onii-san)
姉さん (nee-san)
お姉ちゃん (onee-chan)
お姉ちゃん (onee-chan)
ねえさん (nee-san)
おじさん (old man)

# Terms
初めから (Start)
逃げる (Escape)
大事なもの (Key Items)
最強装備 (Optimize)
攻撃力 (Attack)
回避率 (Evasion)
敏捷性 (Agility)
命中率 (Accuracy)
最大ＨＰ (Max HP)
経験値 (EXP)
購入する (Buy)
魔力攻撃 (M. Attack)
魔力防御 (M. Defense)
魔法力 (M. Power)
%1 の%2を獲得！ (Gained %1 %2)
持っている数 (Owned)
ME 音量 (ME Volume)
回想する (Recollection)
信仰心 (Faith)
会話 (Conversation)
収集 (Collect)
討伐 (Extermination)
破滅 (Destruction)
魂 (Soul)
魄 (Spirit)
巫女 (Shrine Maiden)
刀 (Blade)
剣 (Sword)
龍神神社 (Dragon God Shrine)
忍び (Shinobi)
大魔導士 (Archmage)
始原竜 (Primordial Dragon)
猿王 (Monkey King)
天地開闢 (Genesis)
紅蓮 (Vermilion)
12月 (December)
12日 (12th)
邪気 (Miasma)

# Demons/Angels/Monsters
聖女 (Saintess)
悪魔 (Demon)  
上級悪魔 (Arch Demon)  
歪魔 (Distorted Demon)  
魔神 (Devil)  
魔人 (Demon)  
睡魔 (Mare)  
淫魔 (Succubus)  
夢魔 (Succubus)
天使 (Angel)  
大天使 (Archangel)  
権天使 (Principality)  
能天使 (Power)  
力天使 (Virtue)  
主天使 (Dominion)  
智天使 (Cherub)  
飛天魔 (Nephilim)  
堕天使 (Fallen Angel)  
鬼 (Oni)
魔 (Demon)
妖怪 (Yokai)
式神 (Shikigami)
幽霊 (Ghost)
幽鬼 (Revenant)
デーモン (Daemon)
ローパー (Roper)
人間 (Human)
人型 (Humanoid)
獣型 (Beast)
触手型 (Tentacle)
軟体型 (Slime)
虫型 (Insect)
エルフ (Elf)
竜 (Dragon)
吸血鬼 (Vampire)
ドワーフ (Dwarf)

# Elements
物理 (Physical)
吸収 (Absorption)
火 (Fire)
氷 (Ice)
雷 (Thunder)
水 (Water)
地 (Earth)
風 (Wind)
神聖 (Holy)
暗黒 (Dark)
木 (Wood)
人間 (Human)

# Other
w (lol)
２万 (20,000)
『 (『)
』 (』)
