# Ignore all files
*.*

# File Types
!*.mps
!*.json
!*.txt
!*.project
!*.js
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!*.rb
!*.rvdata2

# Other Needed Files
!.gitignore
!README.md
!patch-config.txt
!GameUpdate*
!patch*
!Game.dat
!bsxx.dat*
!game.ini
!package.nw
!SRPG_Unpacker.exe
!(SRPG_Unpacker Patcher).bat

# Ignore
previous_patch_sha.txt
kabe3_save.dat
kabe3_system.dat
psbpack.dat
Save*
cg.dat
scene.dat
BSXScript_*

# Images
!Layout - コピー (2).png_
!battleUI_sperm.png_
!QTE_avoid.png_
!QTE_avoid2.png_
!QTE_miss.png_
!QTE_miss2.png_
!election.png_
!name.png_
!preg_def.png_
!seiyoku.png_
!father001_tinpira.png_
!father002_tinpiraboss.png_
!father003_goblin.png_
!father004_ork.png_
!father005_charao.png_
!father006_tenta.png_
!father007_name.png_
!father008_student.png_
!father009_wolf.png_
!father010_tanemaki.png_
!father011_dog.png_
!father012_mayor.png_
!father013_forceman.png_
!father014_unknown.png_
!father015_father.png_
!father016_saimin.png_
!runa_parents.png_
!logo2.png_
!save_window.png_
!title1.png_
!title2.png_
!title3.png_
!title3_1.png_
!title4.png_
!title4_1.png_
!title4_2.png_
!title5.png_
!title5_1.png_
!trial_end.png_
!tutorial_01.png_
!tutorial_02.png_
!tutorial_02_00.png_
!tutorial_02_01.png_
!tutorial_02_02.png_
!tutorial_02_03.png_
!tutorial_03.png_
!tutorial_04.png_
!tutorial_05.png_
!tutorial_06.png_
!tutorial_07.png_
!tutorial_08.png_
!tutorial_09.png_
!tutorial_09_01.png_
!tutorial_10_00.png_
!tutorial_10_01.png_
!tutorial_11_00.png_
!tutorial_11_01.png_
!tutorial_12_01.png_
!tutorial_12_02.png_
!tutorial_12_03.png_
!tutorial_13_00.png_
!tutorial_13_01.png_
!tutorial_13_02.png_
!tutorial_14_01.png_
!tutorial_14_02.png_
!tutorial_21_01.png_
!tutorial_21_02.png_
!tutorial_21_03.png_
!bar_hentai.png_
!bar_org.png_
!bar_preg.png_
!bar_sex.png_
!start.png_
!title_01.png_
!title_02.png_
!Command_0.png_
!Command_1.png_
!Command_2.png_
